.navbar {
	background: url(https://upload.wikimedia.org/wikipedia/en/thumb/9/97/Dallas_Mavericks_logo.svg/1200px-Dallas_Mavericks_logo.svg.png) center 35% no-repeat #002B5E;
	background-size: auto 250% !important;
}

.nav .dropdown-toggle {
	background: #00538C !important;
}

.championship {
	background: #B8C4CA !important;
	color: #000000 !important;
}

	.championship .trophy {
		color:#00538C;
	}

	.btn-primary, .btn-success {
		background: #00538C !important;
		border: none;
		text-decoration: none;
	}