.navbar {
	background: url(https://upload.wikimedia.org/wikipedia/en/thumb/f/f1/Memphis_Grizzlies.svg/1200px-Memphis_Grizzlies.svg.png) center top no-repeat #5D76A9;
	background-size: auto 200% !important;
}

.nav .dropdown-toggle {
	background: #12173F !important;
}

.championship {
	background: #12173F !important;
	color: #ffffff !important;
}

	.championship .trophy {
		color:#F5B112;
	}

	.btn-primary, .btn-success {
		background: #5D76A9 !important;
		border: none;
		text-decoration: none;
	}