.navbar {
	background: url(http://i.cdn.turner.com/nba/nba/.element/img/1.0/teamsites/logos/teamlogos_500x500/uta.png) center 56% no-repeat #0C2340;
	background-size: auto 300% !important;
}

.nav .dropdown-toggle {
	background: #00471B !important;
}

.championship {
	background: #0C2340 !important;
	color: #fff !important;
}

	.championship .trophy {
		color: #F9A01B;
	}

	.btn-primary, .btn-success {
		background: #00471B !important;
		border: none;
		text-decoration: none;
	}